h1 {
  font-size: 20px;
  font-weight: bold;
  color: brown;
  margin: 10px;
}

.form-group {
  margin: 10px;
}

.btn {
  margin: 10px;
}

#name {
  font-size: 25px;
  font-weight: bold;
}

#name_kana {
  font-size: 12px;
  color: gray;
}

#pr_short {
  font-weight: bold;
  color: red;
}

.prev, .next {
  color: blue;
  cursor: pointer;
  text-decoration: underline;
}

.name_cell {
  background: skyblue;
}

.pr_cell {
  font-style: italic;
}

table {
  border-collapse: collapse;
}
